footer {

    
    background-color: #FFA500; 
     padding: 10px 15px;
     display: flex;
     align-items:unset;
      padding: 50px 45px;
      height:30px;
   
      width: 100%;
}

.ins img {
    width: 48px !important;
    height: 48px;
   position: relative;
   left: 800px;


}